.breadcrumbs {
  color: $color-gray-medium;
  padding: 20px 0;

  @media (min-width: $screen-xl) {
    padding: 40px 0;
  }

  & a {
    color: $color-gray-medium;
  }

  & .breadcrumb_last {
    color: $color-accent;
  }

  &__row {
    margin: 0;

    & span:not(:first-child) {
      padding-left: 10px;
    }

    & span:not(:last-child) {
      padding-right: 10px;
    }
  }
}
