.catalog-card {
  $block-name: &;
  position: relative;

  &__link {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration: none;
    color: $color-primary;
    transition: $transition;

    @media (hover: hover) {
      &:hover {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
      }

      &:hover .catalog-card__content {
        padding-left: 1rem;
      }
    }
  }

  &__cover {
    background-color: $color-accent-light;
    padding: 1rem;
    overflow: hidden;

    & img {
      object-fit: contain;
      object-position: center;
      transition: $transition;
      aspect-ratio: 312 / 280;
    }
  }

  &__content {
    padding: 12px 0;
    transition: $transition;
  }

  &__cta {
    position: absolute;
    left: 0;
    bottom: 80px;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition:
      opacity $transition,
      visibility $transition;
  }

  &__title {
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 2px;
  }

  &__property {
    color: $color-body;
  }
}
