.contacts {
  &__wrapper {
    padding: 90px 0;
  }

  &__title {
    @media (min-width: $screen-lg) {
      padding-left: 0;
    }
  }

  &__inner {
    @media (min-width: $screen-lg) {
      display: grid;
      grid-template-columns: $padding-left-lg 1fr;
    }

    @media (min-width: $screen-xl) {
      grid-template-columns: $padding-left-xl 1fr;
    }

    @media (min-width: $screen-xxl) {
      grid-template-columns: $padding-left-xxl 1fr;
    }
  }

  &__list {
    @include list-reset;
    display: grid;
    gap: 20px;

    @media (min-width: $screen-md) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__content {
    margin-bottom: 24px;
  }

  &__label {
    color: $color-accent;
    hyphens: auto;
  }

  &__value {
    font-size: 18px;
    font-weight: 600;
    color: $color-primary;
  }

  &__item {
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 4px;

    @media (min-width: $screen-md) {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }

  &__form {
    @media (min-width: $screen-lg) {
      padding-right: 24px;
      max-width: 312px;
    }

    & .contact-form__descr {
      padding-left: $padding-left-sm;

      @media (min-width: $screen-md) {
        padding-left: $padding-left-md;
      }

      @media (min-width: $screen-lg) {
        padding-left: 0;
      }
    }

    @media (min-width: $screen-lg) {
      order: -1;
    }
  }
}
