.contact-form {
  & .wpcf7-spinner {
    display: none;
  }

  & .wpcf7 form .wpcf7-response-output {
    margin: 1rem 0.5rem;
  }

  &__general {
    display: grid;
    gap: 12px;

    @media (min-width: $screen-lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__submit {
    display: grid;

    @media (min-width: $screen-xl) {
      grid-template-columns: 312px 1fr;
      gap: 24px;
    }
  }

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__privacy {
    font-size: 15px;

    & a {
      display: inline;
      color: inherit;
      text-decoration: underline;
    }
  }

  & input,
  & textarea {
    position: relative;
    z-index: 1;
  }
}
