.contact-form {
  & .wpcf7-spinner {
    display: none;
  }

  & .wpcf7 form .wpcf7-response-output {
    margin: 1rem 0.5rem;
  }

  &__general {
    display: grid;
    gap: 12px;

    @media (min-width: $screen-lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__submit {
    display: grid;

    @media (min-width: $screen-xl) {
      grid-template-columns: 312px 1fr;
      gap: 24px;
    }
  }

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 2;
  }

  &__privacy {
    font-size: 15px;

    & a {
      display: inline;
      color: inherit;
      text-decoration: underline;
    }
  }

  & input,
  & textarea {
    position: relative;
    z-index: 1;
  }
}

.wpcf7-list-item {
  margin: 0;
}

.wpcf7 input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid $color-accent;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.wpcf7 input[type="checkbox"]:checked {
  background-color: $color-accent;
}

.wpcf7 input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 4px;
  height: 9px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
