.container {
  position: relative;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $screen-sm) {
    max-width: 540px;
  }

  @media (min-width: $screen-md) {
    max-width: 720px;
  }

  @media (min-width: $screen-lg) {
    max-width: 960px;
  }

  @media (min-width: $screen-xl) {
    max-width: 1140px;
  }

  @media (min-width: $screen-xxl) {
    max-width: 1320px;
  }
}
