.footer-contacts {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media (min-width: $screen-xl) {
      padding-bottom: 36px;
    }
  }

  &__link {
    color: #fff;

    &--phone {
      font-size: 24px;
      font-weight: 600;
      font-family: "Geologica", "sans-serif";
    }

    &--mail {
      font-size: 22px;
      color: rgba(256, 256, 256, 0.75);
      margin-top: -6px;
      margin-bottom: 12px;
    }
  }

  &__item {
    &--adress {
      font-size: 15px;
      color: rgba(256, 256, 256, 0.75);
    }

    &--shedule {
      font-size: 15px;
      color: rgba(256, 256, 256, 0.75);
    }
  }

  &__cta-btn {
    margin-bottom: 34px;

    @media (min-width: $screen-xl) {
      margin-bottom: 100px;
      max-width: 310px;
    }
  }
}
