.footer {
  &__contacts {
    @media (min-width: $screen-md) {
      padding-top: 30px;
    }
  }

  &__wrapper {
    background-color: $color-primary;
    color: #fff;
  }

  &__inner {
    @media (min-width: $screen-md) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 32px;
    }

    @media (min-width: $screen-xl) {
      grid-template-columns: 321px 1fr 1fr;
      gap: 24px;
    }

    @media (min-width: $screen-xxl) {
      grid-template-columns: 433px 1fr 1fr;
      gap: 24px;
    }
  }

  &__social {
    @media (min-width: $screen-md) {
      grid-column: -1 / 1;
    }

    @media (min-width: $screen-xl) {
      grid-column: auto;
      padding-top: 120px;
    }
  }

  &__contacts {
    @media (min-width: $screen-xl) {
      order: 1;
      padding-top: 120px;
    }
  }

  &__copy {
    @media (min-width: $screen-md) {
      grid-column: -1 / 1;
    }

    @media (min-width: $screen-xl) {
      order: 2;
    }
  }

  &__logo {
    padding: 40px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
      width: 192px;

      @media (min-width: $screen-xl) {
        width: 320px;
      }
    }

    @media (min-width: $screen-xl) {
      padding-top: 0;
      padding-right: 24px;
    }
  }
}
