.header {
  border-bottom: 1px solid rgba(256, 256, 256, 0.12);
  z-index: 20;
  transition: background-color $transition;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  &--active {
    background-color: #fff;
  }

  &__inner {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    margin: 0 -1rem 0 0;
  }

  &__logo {
    align-self: center;
  }
}
