.header-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition:
    height 0.4s ease,
    opacity 0.3s ease;
  z-index: 15; // Под шапкой, но над контентом
  padding: 40px 0;
  visibility: hidden;

  &--active {
    opacity: 1;
    visibility: visible;
    height: auto;
  }

  @media (min-width: $screen-xl) {
    position: static;
    height: auto;
    opacity: 1;
    padding: 0;
    background-color: inherit;
    display: flex;
    align-items: center;
    visibility: visible;
    overflow: visible;
  }

  &__inner {
    @media (min-width: $screen-xl) {
      padding: 0;
    }
  }

  &__list {
    @include list-reset;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;

    @media (min-width: $screen-xl) {
      flex-direction: row;
      gap: 20px;
      margin-bottom: 0;
    }

    @media (min-width: $screen-xxl) {
      gap: 24px;
    }
  }

  &__item {
    &--submenu {
      align-self: flex-start;
      position: relative;
      padding-right: 24px;
      cursor: pointer;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 8px;
        height: 2px;
        background-color: $color-body;
        right: 12px;
        top: 13px;
        transition: all 0.3s ease;
      }

      &::before {
        transform: translateY(-50%) rotate(45deg);
        right: 10px;
      }

      &::after {
        transform: translateY(-50%) rotate(-45deg);
        right: 5px;
      }

      @media (min-width: $screen-xl) {
        &:hover::before {
          transform: translateY(-50%) rotate(-45deg);
          background-color: $color-accent-dark;
        }

        &:hover::after {
          transform: translateY(-50%) rotate(45deg);
          background-color: $color-accent-dark;
        }

        &:hover .header-menu__link {
          color: $color-accent-dark;
        }

        &:hover .header-menu__submenu {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }
  }

  &__submenu {
    overflow: hidden;
    height: 0;
    transition: height $transition;

    @media (min-width: $screen-xl) {
      overflow: visible;
      height: auto;
      position: absolute;
      left: 0;
      width: 100%;
      min-width: 200px;
      top: 100%;
      visibility: hidden;
      opacity: 0;
      transform: translateY(-20px);
      transition: $transition;
      transform-origin: top;

      &--active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
  }

  &__link {
    font-size: 18px;

    @media (min-width: $screen-xl) {
      font-size: 16px;
      color: $color-body;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-xl) {
      display: none;
    }
  }

  &__contacts-link--phone {
    font-size: 20px;
    font-weight: 500;
  }
}
