.header {
  position: relative;
  border-bottom: 1px solid $color-gray-light;
  z-index: 20;
  transition: background-color $transition;

  &--absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    & .header-menu__link {
      color: $color-primary;

      @media (min-width: $screen-xl) {
        color: rgba(256, 256, 256, 0.75);
      }
    }
  }

  &--active {
    background-color: #fff;
  }

  &__inner {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    margin: 0 -1rem 0 0;
  }

  &__logo {
    align-self: center;
  }
}
