.home-values {
  background: $color-primary;
  &__wrapper {
    color: #fff;
    padding: 80px 0;
  }

  &__title {
    @media (min-width: $screen-xl) {
      margin-bottom: 0;
      text-align: left;
      padding-left: 0;
      padding-right: 24px;
    }
  }

  &__inner {
    @media (min-width: $screen-xl) {
      display: grid;
      grid-template-columns: $padding-left-xl 1fr;
    }

    @media (min-width: $screen-xxl) {
      display: grid;
      grid-template-columns: $padding-left-xxl 1fr;
    }
  }

  &__list {
    @include list-reset;
    display: grid;
    gap: 20px;

    @media (min-width: $screen-md) {
      gap: 32px;
    }

    @media (min-width: $screen-lg) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: $screen-lg) {
      gap: 48px;
    }
  }

  &__item {
    @media (min-width: $screen-md) {
      display: flex;
      gap: 22px;
    }

    @media (min-width: $screen-xl) {
      flex-direction: column;
      gap: 24px;
    }
  }

  &__item-img {
    width: 32px;
    height: 32px;
    margin-left: $padding-left-sm;
    margin-bottom: 12px;

    @media (min-width: $screen-md) {
      margin-left: 46px;
    }

    @media (min-width: $screen-lg) {
      margin-left: 0;
    }

    @media (min-width: $screen-xl) {
      width: 44px;
      height: 44px;
    }
  }

  &__item-title {
    margin-bottom: 6px;

    @media (min-width: $screen-xl) {
      font-size: 30px;
    }
  }

  &__item-descr {
    color: rgba(256, 256, 256, 0.75);
  }
}
