.job-card {
  &__accordeon {
    margin-bottom: 24px;
  }

  &__link {
    min-height: 320px;
    display: flex;
    flex-direction: column;
    background-color: $color-accent-dark;
    padding: 32px;
    color: #fff;
    transition: $transition;
    text-decoration: none;

    @media (min-width: $screen-xl) {
      min-height: 400px;
    }

    @media (hover: hover) {
      &:hover {
        background-color: $color-accent;
      }
    }
  }

  &__title {
    font-size: 20px;
    margin: 0;

    @media (min-width: $screen-xl) {
      font-size: 24px;
    }
  }

  &__more {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-top: auto;

    & svg {
      width: 20px;
      height: 20px;
    }
  }

  &__content-title {
    font-size: 24px;
    color: $color-accent-dark;
    background-color: $color-accent-light;
    padding: 12px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 24px;

    @media (min-width: $screen-xl) {
      padding: 32px 48px;
    }
  }

  &__cta {
    text-align: center;
  }
}
