.link {
  text-decoration: none;
  color: $color-accent;
  display: inline-block;
  transition:
    color $transition,
    border-color $transition;

  @media (hover: hover) {
    &:hover {
      &:hover {
        color: $color-accent-dark;
      }
    }
  }

  &:active {
    color: $color-body;
  }
}
