.page-standart {
  &__inner {
    display: grid;

    @media (min-width: $screen-xl) {
      grid-template-columns: 320px 1fr;
    }

    @media (min-width: $screen-xxl) {
      grid-template-columns: 422px 1fr;
    }
  }

  &__sidebar {
    position: relative;
    z-index: 2;
    margin-bottom: 24px;
    order: 1;

    @media (min-width: $screen-xl) {
      padding-right: 23px;
      order: unset;
    }
  }

  &__content {
    @media (min-width: $screen-xl) {
      padding-left: 24px;
    }
  }

  &__title {
    font-size: 24px;
    text-transform: uppercase;
    // hyphens: auto;

    @media (min-width: $screen-md) {
      font-size: 32px;
    }

    @media (min-width: $screen-xl) {
      font-size: 40px;
    }

    @media (min-width: $screen-xxl) {
      font-size: 46px;
    }
  }

  &--line {
    @media (min-width: $screen-xl) {
      content: "";
      position: absolute;
      top: 0;
      left: 100px;
      width: 1px;
      height: 100%;
      z-index: 1;

      @media (min-width: $screen-xl) {
        left: 336px;
      }

      @media (min-width: $screen-xxl) {
        left: 439px;
      }
    }
  }

  &--dark .page-standart__line {
    background-color: rgba(256, 256, 256, 0.18);
  }

  &--light .page-standart__line {
    background-color: $color-gray-light;
  }

  & .section-line {
    width: 0;

    @media (min-width: $screen-xl) {
      width: 1px;
    }
  }
}
