.page {
  &__title {
    font-family: "Geologica", sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: uppercase;

    @media (min-width: $screen-sm) {
      font-size: 34px;
    }

    @media (min-width: $screen-md) {
      font-size: 38px;
    }

    @media (min-width: $screen-lg) {
      font-size: 44px;
    }

    @media (min-width: $screen-xl) {
      font-size: 52px;
    }

    @media (min-width: $screen-xxl) {
      font-size: 68px;
    }
  }

  &__subtitle {
    font-family: "Geologica", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px;
    letter-spacing: -1px;
    padding-left: 22%;

    @media (min-width: $screen-md) {
      font-size: 32px;
    }

    @media (min-width: $screen-lg) {
      font-size: 38px;
      padding-left: 32%;
    }

    @media (min-width: $screen-xl) {
      font-size: 46px;
    }

    @media (min-width: $screen-xxl) {
      font-size: 52px;
    }
  }

  &--product {
    padding-top: 112px;
  }

  &--home {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 24%;
      width: 1px;
      height: 100%;
      background-color: $color-gray-light;
      z-index: 1;

      @media (min-width: $screen-lg) {
        left: 34%;
      }
    }
  }
}
