.page {
  &--home {
    padding-top: 0;
  }

  &__title {
    font-family: "Geologica", sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;

    @media (min-width: $screen-sm) {
      font-size: 34px;
    }

    @media (min-width: $screen-md) {
      font-size: 38px;
    }

    @media (min-width: $screen-lg) {
      font-size: 44px;
    }

    @media (min-width: $screen-xl) {
      font-size: 52px;
    }

    @media (min-width: $screen-xxl) {
      font-size: 68px;
    }
  }

  &__subtitle {
    font-family: "Geologica", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px;
    letter-spacing: -1px;
    padding-left: $padding-left-sm;
    word-wrap: break-word;

    @media (min-width: $screen-md) {
      font-size: 32px;
      padding-left: $padding-left-md;
    }

    @media (min-width: $screen-lg) {
      font-size: 38px;
      padding-left: $padding-left-lg;
    }

    @media (min-width: $screen-xl) {
      font-size: 46px;
      padding-left: $padding-left-xl;
    }

    @media (min-width: $screen-xxl) {
      font-size: 52px;
      padding-left: $padding-left-xxl;
    }
  }

  &__toc {
    display: none;
  }
}
