.product-sizes {
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  &__cover {
    background-color: $color-accent-light;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
