.product-parameters {
  padding: 40px 0 90px 0;

  @media (min-width: $screen-xl) {
    display: grid;
    grid-template-columns: 320px 1fr;
  }

  @media (min-width: $screen-xxl) {
    grid-template-columns: 422px 1fr;
    padding: 90px 0;
  }

  &__passport {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;

    & svg {
      width: 18px;
      height: 18px;
    }

    @media (min-width: $screen-xl) {
      display: none;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &--sm {
      @media (min-width: $screen-md) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      @media (min-width: $screen-xl) {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-right: 24px;
      }
    }

    &--lg {
      display: none;

      @media (min-width: $screen-xl) {
        display: flex;
        flex-direction: column;
        gap: 90px;
        padding-left: 24px;
      }
    }
  }
}
