.product-main {
  &__inner {
    display: grid;
    position: relative;

    @media (min-width: $screen-md) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $screen-lg) {
      grid-template-rows: auto auto;
      gap: 28px;
      grid-template-areas:
        "cover head"
        "cover char";
    }

    @media (min-width: $screen-xl) {
      gap: 0;
      grid-template-columns: $padding-left-xl 1fr;
      padding-bottom: 40px;

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height: 1px;
        background-color: $color-gray-light;
        bottom: 0;
      }
    }

    @media (min-width: $screen-xxl) {
      gap: 0;
      grid-template-columns: $padding-left-xxl 1fr;
      padding-bottom: 90px;
    }
  }

  &__head {
    position: relative;
    padding: 16px 0;
    order: -1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 100vw;
      transform: translateX(-50%);
      height: 100%;
      background-color: $color-accent-light;
      z-index: -1;

      @media (min-width: $screen-lg) {
        content: none;
      }
    }

    @media (min-width: $screen-md) {
      grid-column: -1 / 1;
    }

    @media (min-width: $screen-lg) {
      grid-area: head;
      padding: 0;
    }
  }

  &__parameters {
    font-family: "Geologica", sans-serif;
    color: $color-accent;
    font-weight: 500;
    font-size: 24px;
  }

  &__cover {
    @media (min-width: $screen-xl) {
      z-index: 2;
      margin-right: 17px;
    }

    @media (min-width: $screen-xxl) {
      margin-right: 17px;
    }

    & a {
      aspect-ratio: 360 / 324;
      padding: 1rem;

      @media (min-width: $screen-sm) {
        aspect-ratio: 5 / 3;
      }

      @media (min-width: $screen-md) {
        aspect-ratio: 1 / 1;
      }

      @media (min-width: $screen-lg) {
        aspect-ratio: unset;
        height: 100%;
        padding: 1.5rem;
      }
    }

    @media (min-width: $screen-lg) {
      background-color: $color-accent-light;
      grid-area: cover;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__title {
    margin-bottom: 0;
  }

  &__char {
    display: flex;
    gap: 22px;
    flex-direction: column;

    @media (min-width: $screen-lg) {
      grid-area: char;
      gap: 24px;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &__char-list {
    @include list-reset;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__char-item {
    display: grid;
    grid-template-columns: 80px 1fr;
    border-bottom: 1px solid $color-gray-light;
    padding: 12px 0;

    @media (min-width: $screen-md) {
      grid-template-columns: 1fr 80px;
      gap: 12px;
    }
  }

  &__char-label {
    text-align: left;
    color: $color-body;
  }

  &__char-value {
    order: -1;
    color: $color-primary;

    @media (min-width: $screen-md) {
      order: 1;
      text-align: right;
    }
  }

  &__char-buttons {
    display: flex;
    gap: 16px;
  }

  &__char-cta {
    width: 100%;
    order: -1;

    @media (min-width: $screen-md) {
      order: unset;
      width: auto;
      min-width: 195px;
    }
  }

  &__char-passport {
    display: none;

    @media (min-width: $screen-xl) {
      display: inline-flex;
      align-items: center;
      gap: 12px;

      & svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}
