.product-features {
  &__list {
    @include list-reset;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__item {
    position: relative;
    padding-left: 18px;

    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 0;
      width: 10px;
      height: 10px;
      background-color: $color-accent;
    }
  }
}
