.product-parameters {
  padding: 40px 0 90px 0;

  @media (min-width: $screen-xl) {
    display: grid;
    grid-template-columns: 33% 1fr;
    gap: 28px;
    padding: 90px 0;
  }

  &__passport {
    width: 100%;

    @media (min-width: $screen-xl) {
      display: none;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &--sm {
      @media (min-width: $screen-md) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      @media (min-width: $screen-xl) {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
    }

    &--lg {
      display: none;

      @media (min-width: $screen-xl) {
        display: flex;
        flex-direction: column;
        gap: 90px;
      }
    }
  }
}
