.tabs {
  &__content {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
    position: absolute;
    width: 100%;

    &.active {
      opacity: 1;
      visibility: visible;
      position: relative;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
  }

  &__btn {
    @include btn-reset;
    display: inline-flex;
    border: 1px solid $color-gray-light;
    padding: 18px 24px;
    font-size: 24px;
    color: $color-body;
    transition: background-color $transition;

    @media (hover: hover) {
      &:hover {
        background-color: $color-accent-light;
      }
    }

    &.active {
      background-color: $color-accent;
      color: #fff;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 16px;
    color: $color-primary;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;

    & svg {
      width: 40px;
      height: 40px;
    }
  }

  &__content-list {
    @include list-reset;
    position: relative;
    display: grid;

    @media (min-width: $screen-lg) {
      padding-left: 24px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -1px;
        height: 100%;
        width: 1px;
        background-color: $color-accent;
        z-index: 2;
      }
    }

    @media (min-width: $screen-xl) {
      grid-template-columns: 1fr 1fr;
      gap: 20px 24px;
    }
  }

  &__content-item {
    position: relative;
    padding: 14px 0;

    @media (min-width: $screen-xl) {
      padding: 4px 0;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      height: 1px;
      background-color: $color-gray-light;

      @media (min-width: $screen-lg) {
        content: none;
      }
    }
  }
}
