.user-content {
  & ul {
    @include list-reset;
    padding: 18px 0;
    display: grid;
    gap: 16px;
    margin-left: 16px;
  }

  & p {
    margin-top: 0;
  }

  & ul li {
    position: relative;
    padding-left: 18px;

    &::before {
      content: "";
      position: absolute;
      top: 7px;
      left: 0;
      width: 10px;
      height: 10px;
      background-color: $color-accent;
    }
  }

  & ul li,
  & ol li {
    margin-bottom: 12px;
  }

  & a {
    color: $color-accent;
    text-decoration: underline;
  }
}
