@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: inherit;
  }

  &:active {
    background-color: inherit;
  }
}

@mixin responsive-padding-left($sm, $md, $lg) {
  padding-left: $sm;

  @media (min-width: 768px) {
    padding-left: $md;
  }

  @media (min-width: 992px) {
    padding-left: $lg;
  }
}
