// Sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1440px;

// Colors
$color-body: #5b5f63;
$color-primary: #181a1c;

$color-accent: #00b1e2;
$color-accent-dark: #2874b2;
$color-accent-light: #f0f8fa;

$color-gray-light: rgba($color-primary, 12%);
$color-gray-medium: rgba($color-body, 40%);
$color-white-light: rgba(256, 256, 256, 0.12);
$color-wihite-dark: rgba(256, 256, 256, 0.75);

// Helpers
$transition: 0.25s ease-in-out;

$padding-left-sm: 84px;
$padding-left-md: 100px;
$padding-left-lg: 298px;
$padding-left-xl: 340px;
$padding-left-xxl: 450px;
